& p {
  color:#8b8b8b;
  font-family: 'Oswald', sans-serif;
  display: flex;
  align-items: center;
}

select {
  height: 30px;
  margin-left: 2px;
}

button {
  margin-left: 2px;
  padding: 5px 20px;
}
@media (max-width: $page-medium) {

  & p {
    text-align:center;
  }
}
