{{game-header
  index=questionIndex
  questionCount=model.length
  nextQuestion=(action 'nextQuestion')}}

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        {{question-box question=currentQuestion}}

        {{answers-box
          answers=currentAnswers
          correctAnswer=correctAnswer
          chosenAnswer=chosenAnswer
          pickAnswer=(action 'pickAnswer')}}
      </div>
    </div>
  </div>
</section>
{{footer-container}}
