<div class="row">
  {{#each randomizedAnswers as |answer index|}}
  <div class="col-md-6">
    {{answers-box/item
     answer=answer
     index=index
     correctAnswer=correctAnswer
     chosenAnswer=chosenAnswer
     pickAnswer=attrs.pickAnswer}}
  </div>
  {{/each}}
</div>
