<div class="row">
  <div class="col-md-6">
    <button class="button button-correct button-left"><span>A</span>COIMBRA</button>
  </div>

  <div class="col-md-6 text-right">
    <button class="button button-right"><span>B</span>LISBOA</button>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <button class="button button-incorrect button-left"><span>C</span>AVEIRO</button>
  </div>

  <div class="col-md-6 text-right">
    <button class="button button-right"><span>D</span>PORTO</button>
  </div>
</div>
