& {
  background-color:#eeeeee;
  border-bottom:4px solid #9f9f9f;
  padding: 20px;
  box-shadow: 0px 15px 28px -15px rgba(0,0,0,0.75);
}

.left-block {
  margin-top:15px;
}

.right-block {
  margin-top:5px;
}

.question-counter {
  font-size:22px;
  color:#8b8b8b;
}

.question-counter .total-questions {
  font-weight: 700;
  color:#f26522;
}

.question-label {
  color:#8b8b8b;
  font-family: 'Oswald', sans-serif;
}

.next-question {
  display: block;
  color:#8b8b8b;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
}

.next-question-icon {
  display: block;
  svg {
    fill: lighten(#000, 30%);
    width: 50px;
    height: 50px;
  }
}

.next-question:hover {
  text-decoration: none;
  color: lighten(#8b8b8b, 10%);
  svg {
    fill: lighten(#000, 20%);
  }
}

&.no-more-questions {
  .right-block {
    display: none;
  }
}
