  <div class="container">
    <div class="row">
      <div class="col-xs-4 text-left left-block">
        <p class="question-counter">{{currentQuestionIndex}} / <span class="total-questions">{{questionCount}}</span></p>
        <p class="question-label">Questions</p>
      </div>

      <div class="col-xs-4 text-center center-block">
        {{!-- <span class="tempo"><img src="tempo.png"/></span> --}}
      </div>

      <div class="col-xs-4 text-right right-block">
      <a class="next-question" {{action 'nextQuestion'}}>
          <span class="next-question-icon">{{inline-svg 'arrow-right.svg'}}</span>
          Next question
        </a>
      </div>
    </div>
  </div>
