& {
  background-color:#eeeeee;
  border-bottom:4px solid #9f9f9f;
  padding: 20px;
  box-shadow: 0px 15px 28px -15px rgba(0,0,0,0.75);
}

.left-block {
  margin-top:0;
}

.right-block {
  margin-top:5px;
}

h2 {
  margin-top: 0;
}