<div class="container">
    <div class="row">
        <div class="col-xs-4 text-left left-block">
            <h2>{{link-to 'Ember Quiz' 'game'}}</h2>
        </div>

        <div class="col-xs-4 text-center center-block"></div>

        <div class="col-xs-4 text-right right-block"></div>
    </div>
</div>
